*{
 margin: 0;
 padding: 0;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px ;
}
.searchform{
  margin-top: 10px;
}
.app_input{
 padding: 5px 15px;
 min-width: 200px;
 max-width: 100vw;
 font-size: 12px;
}
.app_submit{
  padding: 5px 15px;
  margin-left: 5px;
  font-size: 10px;
  background-color: aqua;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
}

.recipe-img{
  display: grid;
  grid-template-columns: 230px 230px;
  margin-top: 20px;
  height: 200px;
  width: 200px;
}
.recipe_name{
  text-align: center;
  margin: 10px;
}
.cart_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: gold;
  color: black;
  border: 4px solid white;
  border-radius: 4px;
}
